<div class="card w-75 center p-4">
  <h1 class="header mb-3">Rob Vandelinder</h1>
  <p><span>Welcome to my portfolio!</span> I’m a passionate Full Stack
    Developer specializing in creating robust web and mobile applications.
  </p>
  <p>
    This site is a showcase of my skills, projects, and the journey I’ve taken as a developer.
  </p>

  <p>
    <span class="fst-italic">Note: This mobile version is a simplified preview of the full site. For the complete
      experience, check it out on desktop — or feel free to grab my CV using the link below!</span>
  </p>

  <div class="row justify-content-center">
    <cv-button label="💾 Download CV" [action]="serveCV" class="col-auto" />
  </div>
</div>