#conditions-icon {
  height: 128px;
}

#current-conditions {
  font-size: 1.5rem;
}

#feels-like,
#current-temperature {
  font-size: 1.25rem;
}

#size-wrapper {
  min-width: 500px;
}

// .btn-outline-dark {
//   border: 1px solid var(--cv-blue);
//   background-color: var(--cv-white);
//   color: var(--cv-blue);
//   border-radius: 10px;
//   padding: 8px 16px;
//   cursor: pointer;
// }

// .btn-outline-dark:hover {
//   background-color: var(--cv-blue);
//   color: var(--cv-white);
//   border: 1px solid var(--cv-blue);
// }
