#size-wrapper {
  width: 600px;
}
.timer-btn,
.control-btn {
  border: 1px solid var(--cv-blue);
  color: var(--cv-blue);
}

.timer-btn:hover,
.control-btn:hover {
  background-color: var(--cv-blue);
  color: white;
}

.timer-btn:active {
  color: white;
}

.active {
  border: 1px solid var(--cv-blue);
  background-color: var(--cv-blue);
  color: white;
}

#progress-bar {
  background-color: #e0e0e0;
  color: var(--cv-blue) !important;
  height: 16px;
}

.toast-container {
  margin-top: 16px;
  transform: translateX(-50%);
}

.toast {
  background-color: var(--cv-blue);
}

#timer-text-wrapper {
  margin-top: 108px;
  color: var(--cv-blue);
  text-shadow: 0px 0px 3px var(--cv-white), 0px 0px 16px #fff;
}

#timer-text {
  width: 100%;
  font-size: 5rem;
}

#spinner-wrapper {
  margin-top: 32px;
}
