<section id="bar" class="vw-100 d-flex flex-row">
  <!-- Home button -->
  <i class="bi bi-house-fill ps-3 pe-1" home-hover (click)="closeAllDialogs()"></i>

  <!-- About app button -->
  <span id="about-app-btn" class="ms-2" (click)="showDialog('about')">About</span>

  <!-- Show help button -->
  <span class="ms-2" (click)="showDialog('help')">Help</span>

  @if (showWeather) {
    <!-- Spacer -->
    <div class="flex-fill"></div>
    
    <!-- Weather info -->
    <weather-widget></weather-widget>
  }

  <!-- Spacer -->
  <div class="flex-fill"></div>

  <!-- Clock -->
  <span id="clock" class=>{{ time() }}</span>
</section>
