<dialog-window class="pane" title="Help" type="help">
  <div id="size-wrapper">
    <div class="display-6 text-center">Help</div>
    <p class="mt-3 text-center">
      This app is designed to be intuitive and user-friendly. If you have any
      questions or need assistance, please refer to the following sections:
    </p>
    <!-- <p class="mt-3 text-center"> -->
    <div id="list-wrapper">
      <ul class="mt-3">
        <li>
          Navigate easily through the portfolio app using a familiar
          desktop-style dock.
        </li>
        <li class="mt-2">
          Launch "apps" with a click, minimize windows to keep your workspace
          clean, and return to the home screen to close all open dialogs at
          once.
        </li>
      </ul>
    </div>

    <!-- </p> -->
  </div>
</dialog-window>
