.size-wrapper {
  min-width: 1000px;
  overflow: visible !important;
  height: auto;
}

#skills-chart,
#operatingSystems-chart,
#cloudPlatforms-chart,
#frameworks-chart,
#languages-chart,
#skills-chart {
  border: 1px solid var(--cv-lightgrey);
  box-shadow: 0px 0px 5px var(--cv-grey);
  border-radius: 10px;
  background-color: #fff;
}

canvasjs-chart {
  display: block;
  height: 420px;
  width: 100%;
  overflow: hidden;
}
