body {
  margin: 0;
  padding: 0;
  // z-index: 1;
}

.flex-fill {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

img {
  width: 100vw;
  height: 98vh;
  object-fit: cover;
}

.hideImg {
  img {
    opacity: 0;
  }
}

#bg-img {
  height: 100%;
  max-width: 100vw;
}
