<dialog-window class="pane" title="Add New Todo" type="new-todo">
  <form (ngSubmit)="saveTodo()">
    <!-- Title field -->
    <label class="form-label fs-4" for="title">Enter title:</label>
    <input
      class="form-control"
      type="text"
      name="title"
      id="title"
      [(ngModel)]="title"
    />

    <!-- Spacer -->
    <div class="div my-2"></div>

    <!-- Description field -->
    <label class="form-label fs-4" for="description">Enter description:</label>
    <input
      class="form-control"
      type="text"
      name="description"
      id="description"
      [(ngModel)]="description"
    />

    <!-- Spacer -->
    <div class="div my-2"></div>

    <!-- Due date toggle button -->
    <div class="d-flex flex-row align-items-center">
      <label class="form-label fs-4" for="dueDateToggle">
        Choose a due date?
      </label>
      <div class="flex-fill"></div>
      <input
        class="form-check-input"
        type="checkbox"
        name="statusToggle"
        id="statusToggle"
        [(ngModel)]="hasDueDate"
        (change)="handleDueDateChecked()"
      />
      <div class="me-3"></div>
    </div>

    <!-- Spacer -->
    <div class="div my-2"></div>

    <!-- Track status toggle button -->
    <div class="d-flex flex-row align-items-center">
      <label class="form-check-label fs-4" for="statusToggle"
        >Track status?</label
      >
      <div class="flex-fill"></div>
      <input
        class="form-check-input"
        type="checkbox"
        name="statusToggle"
        id="statusToggle"
        [(ngModel)]="trackStatus"
        (change)="handleStatusChecked()"
      />
      <div class="me-3"></div>
    </div>

    <!-- Spacer -->
    <div class="div my-2"></div>

    <hr />
    <!-- Spacer -->
    <div class="div my-2"></div>

    <!-- Due date field -->
    <label class="form-label fs-4" for="dueDate">
      <span [ngClass]="{ disabled: !hasDueDate() }">Enter due date:</span>
    </label>
    <input
      [disabled]="!hasDueDate()"
      name="dueDate"
      id="dueDate"
      class="form-control"
      type="date"
      [(ngModel)]="dueDate"
      [ngClass]="{ disabled: !hasDueDate() }"
    />

    <!-- Spacer -->
    <div class="div my-2"></div>

    <!-- Status field -->
    <label class="form-label fs-4" for="status">
      <span [ngClass]="{ disabled: !trackStatus() }"> Select status: </span>
    </label>
    <select
      name="status"
      id="status"
      class="form-select"
      [(ngModel)]="status"
      [disabled]="!trackStatus()"
      [value]="status()"
    >
      <option value="NEW">New</option>
      <option value="IN_PROGRESS">In Progress</option>
      <option value="ON_HOLD">On Hold</option>
    </select>

    <!-- Spacer -->
    <div class="div my-4"></div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-outline-dark center fs-4 px-4"
      id="save-btn"
    >
      Save
    </button>
  </form>
</dialog-window>
