#save-btn {
  color: var(--cv-white);
  border: none;
  outline: none;
  //   margin-right: 8px;
  // padding: 0px 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--cv-blue);
}

#save-btn:hover {
  background-color: var(--cv-darkgrey);
}

.disabled {
  color: var(--cv-lightgrey);
}

hr {
  margin: 16px 32px;
  color: var(--cv-grey);
}

#size-wrapper {
  min-width: 400px;
}

.form-check-input {
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--cv-lightgrey);
  color: var(--cv-blue);
}

.form-check-input:checked {
  background-color: var(--cv-blue);
  border: 1px solid var(--cv-blue);
}
