#save-btn {
  color: var(--cv-white);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--cv-blue);
}

#save-btn:hover {
  background-color: var(--cv-darkgrey);
}
