<dialog-window class="pane" title="Add New Note" type="new-note">
  <form (ngSubmit)="saveNote()">
    <label class="form-label fs-4" for="noteInput">Enter new note title:</label>
    <input
      class="form-control"
      type="text"
      name="noteInput"
      id="noteInput"
      [(ngModel)]="title"
    />
    <label class="form-label fs-4" for="noteInput">Enter new note body:</label>
    <input
      class="form-control"
      type="text"
      name="noteInput"
      id="noteInput"
      [(ngModel)]="body"
    />
    <div class="div my-3"></div>
    <button
      type="submit"
      class="btn btn-outline-dark center fs-4 px-4"
      id="save-btn"
    >
      Save
    </button>
  </form>
</dialog-window>
